<html ng-app="Mod1SolApp">
  <head>
    <title>Mod1 Solution</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="mod1_solution.js"></script>
  </head>
  <body>
    <h1>Lunch Check</h1>
    <div ng-controller="LunchCheckController">
      <input type="text" ng-model="items" style="border-color:{{inColor}}">
      <i>(Empty item is not considered)</i>
      <br/><br/>
      <button ng-click="checkItems()">Check If Too Much</button>
      <p style="color:{{msgColor}}">{{message}}</p>
    </div>
  </body>
</html>
